
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}

nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;    
}

nav h1{
    color: #364357;
    font-family: 'Cinzel', empattements ;
    font-size: 30px;
}

nav .onglets{
    display: flex;
    flex-wrap: inline;
    margin-top: 3px;
}

nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    
}
header{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/mer.jpg);
    background-size: cover;
    color: white;
    padding: 40px;
    background-position: center;
}

header h1{
    font-family: 'Cinzel', empattements ;
    font-size: 30px;
    text-align: center;
}

header h3{
    font-family: 'Cinzel', empattements ;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
    margin-left: 30px;
}

.card h3{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.main .content .card{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex: 0 0 40%;
   padding: 20px;
   background-color:#364357;
   color:#fff;
   height:auto;
   width: auto;
   margin-top: 5px;
   margin-bottom: 10px;
   text-align: center;
   border-radius: 20px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content:space-around;
    margin: 40px;
}

footer{
    background-color: #021c44;
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Cinzel', empattements ;
    width: 20%;
    padding-bottom: 5px;
}
footer .Contacts{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .Contacts .Contacts {
    margin-right: 30px;
    display: block;
}
footer .Contacts .Contacts  p{
    max-width: 300px;

}
footer #contact{
    color: rgb(181, 181, 181);
}
@media (min-width: 500px) {
  nav .onglets{
    margin-left:300px
  }

  }
@media (max-width: 540px) {
  nav .onglets{
    margin-left:0px;
  }
}